<% if @movie.errors.any? %>
    <ul>
    <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
    <% end %>
    </ul>
<% end %>
<%= form_with model: [:admin, @movie] do |f| %>
    <%= f.label :name, "映画タイトル" %>
    <%= f.text_field :name %>

    <%= f.label :year, "公開年" %>
    <%= f.text_field :year %>

    <%= f.label :is_showing, "上映中か" %>
    <%= f.select :is_showing, [["上映中", true], ["上映予定", false]]%>

    <%= f.label :description, "概要" %>
    <%= f.text_area :description %>

    <%= f.label :image_url, "画像URL" %>
    <%= f.text_field :image_url %>
    <%= f.submit "更新" %>
<% end %>

<%= link_to "削除", admin_movie_path(@movie), method: :delete, "data-confirm" => "本当に削除しますか？"%>
