<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class = "col-4">
            <h1>上映情報登録</h1>
            <%= form_with model: [:admin, @schedule], method: :put do |f|%>
                <%= f.label :movie_id, "上映映画ID", class: "form-label" %>
                <%= f.text_field :movie_id, class: "form-control", value: @schedule.movie.id, readonly: true %>
                <%= f.label :start_time, "上映開始時刻", class: "form-label" %>
                <%= f.datetime_field :start_time, class: "form-control" %>
                <%= f.label :end_time, "上映終了時刻", class: "form-label" %>
                <%= f.datetime_field :end_time, class: "form-control" %>
                <%= f.submit "更新", class: "btn btn-primary mt-3"%>
            <% end %>
            <%= link_to "削除", admin_schedule_path(@schedule), method: :delete, "data-confirm" => "本当に削除しますか？" %>
        </div>
    </div>
</div>